---
title: Home
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

    <div class="container">
        <header class="main row">
            <div class="span2 logo">
                <h1>
                    <a href="/">CBR</a>
                </h1>
            </div>
            <div class="span2 slogan">
                <span class="inner">
                    <span>C</span>offee
                    <span>B</span>rewing and
                    <span>R</span>oasting
                </span>
            </div>
        </header>
    </div>

    {% include footer.html %}
</body>
</html>
