---
title: Home
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

    <div class="container">
        <header class="main row">
            <div class="span2 logo">
                <h1>
                    <a href="/">CBR</a>
                </h1>
            </div>
            <div class="span2 slogan">
                <span>C</span>offee<br />
                <span>B</span>rewing and<br />
                <span>R</span>oasting
            </div>
        </header>
    </div>

    {% include footer.html %}
</body>
</html>
